@model IList<BooksGAM4.Models.Livro>

@{
    ViewData["Title"] = "Home Page";
}

<div class="card-deck mb-3 text-center">

    @{
        int i = 0;
        foreach (var item in Model.ToList())
        {
            if (i < 3)
            {
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <img src="@item.ImagemCapaUrl" style="width: 217px; height: 300px;" />
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"><small class="text-muted"></small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Título: @item.Titulo</li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary"></button>
                    </div>
                </div>
            }
            i++;
        }
    }


</div>