<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BooksGroupAM4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/pricing.css" />
</head>
<body>


    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Books Group AM4</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#">Features</a>
            <a class="p-2 text-dark" href="#">Premium</a>
            <a class="p-2 text-dark" href="#">Suporte</a>
            <a class="p-2 text-dark" href="#">Preços</a>
        </nav>
        <a class="btn btn-outline-primary" href="#">Cadastro</a>
    </div>
    
    <div class="pricing-header px-3 py-3 pt-1 md-4 pb-1 md-4 mx-auto text-center">
        <h2 class="display-4">Promoção</h2>
        <p class="lead">
            Os melhores títulos em promoção especial. Aproveite !
        </p>
    </div>

    <div class="container">

        @RenderBody()

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <img class="mb-2" src="../../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                    <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Algo legal</a></li>
                        <li><a class="text-muted" href="#">Feature aleatória</a></li>
                        <li><a class="text-muted" href="#">Recursos para times</a></li>
                        <li><a class="text-muted" href="#">Coisas para desenvolvedores</a></li>
                        <li><a class="text-muted" href="#">Outra coisa legal</a></li>
                        <li><a class="text-muted" href="#">Último item</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Fontes</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Fonte</a></li>
                        <li><a class="text-muted" href="#">Nome da fonte</a></li>
                        <li><a class="text-muted" href="#">Outra fonte</a></li>
                        <li><a class="text-muted" href="#">Fonte final</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Sobre</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Equipe</a></li>
                        <li><a class="text-muted" href="#">Locais</a></li>
                        <li><a class="text-muted" href="#">Privacidade</a></li>
                        <li><a class="text-muted" href="#">Termos</a></li>
                    </ul>
                </div>
            </div>
        </footer>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/holder.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>
    <!--.-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
