@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{

    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" asp-area="" asp-controller="Livros" asp-action="Index">Gest&atilde;o dos livros</a>
        <a class="p-2 text-dark" href="#">Usu&aacute;rio</a>
        <a class="p-2 text-dark" asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a>
    </nav>

    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post">
        <span class="mr-3 text-success h6">Ol&aacute; @User.Identity.Name</span>
        <a class="pl-1 pr-1 text-dark btn btn-sm btn-outline-warning" href="javascript:document.getElementById('logoutForm').submit()" style="color:white">Log off</a>
    </form>
}
else
{
    <a class="btn btn-sm btn-outline-success" asp-controller="Account" asp-action="Login">Log in</a>
    <a class="btn btn-sm btn-outline-info ml-1" asp-controller="Account" asp-action="Register">Registro</a>
}
