@{
    ViewData["Title"] = "Acesso Negado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-warning m-4 p-4 text-center" role="alert">
    Para ter acesso a esta página você precisa estar no grupo da Administração.
    <p>Solicite ajuda ao adminstrador da plataforma</p>
</div>